@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 5px 160px;
  box-sizing: border-box;
  border: 3px solid #000;
}

#logo {
  font-size: 16px;
}

#nav-links {
  display: flex;
  list-style-type: none;
  font-size: 16px;
  gap: 40px;
}

#nav-links li {
  cursor: pointer;
}

.date-time {
  position: absolute;
  top: 80px;
  right: 50px;
  font-size: 16px;
}

h2 {
  font-size: 35px;
  text-align: center;
}

.books-list {
  display: none;
  width: 65%;
  margin-bottom: 80px;
}

.books {
  width: 100%;
  border: 3px solid #000;
}

.book-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ddd;
  padding: 0 20px;
}

.book-container:nth-child(2n) {
  background-color: white;
}

.book-info {
  display: flex;
  gap: 8px;
  font-size: 18px;
}

button {
  cursor: pointer;
  height: 40px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  border: 4px solid #000;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  padding: 5px 10px;
}

.add-new-book {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 15px;
}

input {
  font-size: 16px;
  padding: 8px 8px;
  border: 2px solid #000;
}

#add-book {
  width: 53px;
  box-sizing: border-box;
  align-self: flex-end;
}

.contact-info {
  display: none;
  font-size: 18px;
  margin-bottom: 80px;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  border: 3px solid #000;
  background-color: white;
  text-align: center;
}

.display-section {
  display: block;
}
